html, body {
    height: 100%;
    color: white;
}

main {
    background-color: #5C5C37;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h2 {
    text-align: center;
    font-size: 36px;
}

h3 {
    text-align: center;
}

h1 {
    animation: phase-in 3s normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5C5C37;
    color: white;
    font-family: 'Roboto Slab', serif;
}

nav a {
    color: white;
    text-decoration: none;
    
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    text-align: left;
    font-family: 'Roboto Slab', serif;
    
}

span {
    padding-left: 5px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
    
    padding-top: 25px;
}

input {
    margin-top: 25px;
}

#form-container-header {
    text-align: center;
}

#form-section {
    background-color: #37375c;
    width: 90%;
}



#contact-message {
    height: 150px;
}

footer {
    position: absolute;
    bottom: -50;
    text-align: center;
    width: 100%;
    background-color: #5C5C37;
    color: white;
}

footer p {
   display: inline-block;
}

.repeating-background {
    position: absolute;
    bottom: 1em;
    right: -63em;
    height: 54em;
    max-width: none;
}

.project-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    background-color: rgb(55, 55, 92);
    padding-bottom: 50px;
}

.project-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    
    border: 2px solid rgb(125, 125, 126);
    margin-top: 15px;
    background-color: #5C5C37;
}

.project-image-container {
    height: 200px;
    width: 200px;
    background-color: aqua;
}

.project-info-container {
    
    width: 200px;
}

.tag-btn-choice {
    
    border: 2px solid green;
    border-radius: 5%;
    width: 6rem;
    height: 2rem;
    color: #0000C2;
}

.tag-btn {
    background-color:red;
}



#project-tag-btn-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

#project-one {
    animation: slide-in-from-right 3s forwards;
}

 #project-two {
    display: flex;
    flex-direction: important row-reverse ;
    animation: slide-in-from-left 3s backwards;
}

#skill-section {
    border: 2px solid black;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab', serif;
}

#emoji-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.stretcher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hero-section {
    background-color:#37375c;
    color:slategray;
    text-align: center;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*
@keyframes slide-in-from-right {
    from {
        transform: translateX(-100%);
        border: none;
    }
    to {
        transform: translateX(0);
        border: 2px solid rgb(125, 125, 126);
    }
}

@keyframes slide-in-from-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes phase-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/